.wrapper {
  padding: 100px;
}

.form-container {
  width: 50vh;
  margin: 0 auto;
  padding: 40px;
  text-align: center;

  .mat-form-field {
    width: 100%;
  }
}

.control-button {
  margin-top: 8px;
}
